/* Animation KPT */
.animationKPT{
  animation-name: componentJump;
  animation-duration: 0.75s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes componentJump{
  from {
    bottom: 0;
  }

  to {
    bottom: 0.75rem;
  }
}

.cpu{
  animation-delay: 0s;
}

.board{
  animation-delay: 0.2s;
}

.disipador{
  animation-delay: 0.4s;
}

.ram{
  animation-delay: 0.6s;
}

.ssd{
  animation-delay: 0.8s;
}

.video{
  animation-delay: 1s;
}