@import url(interface.css);
@import url(spriteAnimations.css);
@import url(cards_galery.css);
@import url(modal.css);

/* ~> content Styles */
.content{
  grid-row-gap: 0rem;
  overflow: auto;
  padding-top: 2rem;
  &::-webkit-scrollbar {
       display: none;
    }
}

/* ~> Section Title Styles */
.tab{
  width: 60%;
  font-size: 1.75rem;
  padding: 1rem;
  text-align: center;
  border-radius: 0 8px 8px 0px;
  color: #D76F38;
  background-color: #272729;
  box-shadow: 4px 0px 0px 3px #8FE0F5;
}

/* ~> Galery Grid Styles */

.galeryGrid {
  display: grid;
  width: 75%;
  max-height: 600px;
  margin: 3rem auto;
  column-gap: 2rem;
  row-gap: 1.5rem;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 20rem), 1fr));
  overflow: auto;
  &::-webkit-scrollbar {
     display: none;
  }
}