@import url(navbar.css);
@import url(body.css);
@import url(animation_KPT.css);
@import url(sprite_animation.css);

/*Variables para paleta de colores*/
:root {

  --image_profile_border: #D76F38;

  /*Fake Window */
  --color_fake_window_1: #D5D9DA;
  --color_fake_window_2: #336b83;
  --color_fake_window_3: #272729;

  /*Misc*/
  --color_kpt: #304FFE;
  --border_radius: 10px;
}

.content{
  display: grid;
  grid-row-gap: 3rem;
  grid-template-columns: auto;
  z-index: 4;
  margin: 1rem;
}

/* Presentacion */

.presentation{
  margin: 2rem 3rem 0 3rem;
  text-align: center;
}

.name{
  margin: 1rem 0;
}

.name h1{
  color: var(--text_color);
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  font-weight: bold;
}

.name h2{
  color: var(--title_color);
  font-size: 0.8rem;
  /* font-weight: lighter; */
}

.profile_image{
  width: 65%;
  height: auto;
  margin: 1rem 0;
  border: solid var(--image_profile_border) 4px;
  border-radius: 50%;
}

.about_me h1{
  color: var(--title_color);
  margin: 1rem 2rem;
  text-align: right;
  font-size: 2rem;
}

.about_me p{
  color: var(--text_color);
  margin: 1rem 0;
  text-align: center;
  line-height: 1.4rem;
}

@media (min-width: 520px) {
  .name h1{
    font-size: 1.75rem;
  }
  
  .name h2{
    font-size: 1rem;
  }
}

@media (min-width: 720px) {
  .presentation{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .name{
    align-self: center;
  }

  .presentation_content{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  .profile_image{
    width: 30%;
    /* margin: 1rem; */
  }

  .about_me{
    width: 70%;
    margin-right: 1rem;
  }

  .about_me h1{
    margin: 1rem 0;
  }

  .about_me p{
    text-align: right;
  }
}

@media (min-width: 1000px) {
  .name{
    align-self: flex-start;
  }

  .name h1{
    font-size: 2rem;
  }
  
  .name h2{
    font-size: 1rem;
  }

  .about_me h1{
    margin: 1rem 2rem;
  }

  .about_me p{
    margin: 1rem 2rem;
    
  }
}

/* Trabajo */

.work{
  margin: 2rem 3rem 0 3rem;
}

.work h1{
  color: var(--title_color);
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
}

.work p{
  color: var(--text_color);
  margin: 1rem 0;
  text-align: center;
  line-height: 1.4rem;
}

.work h2{
  color: var(--title_color);
  margin: 3rem 0;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
}

.work a{
  text-decoration: none;
}

.fake_window{
  margin: 1rem auto;
  width: 80%;
  height: 10rem;
  border: solid 4px var(--color_fake_window_2);
  border-radius: 15px;
}

.fake_bar{
  display: flex;
  justify-content: space-around;
  height: 20%;
  background-color: var(--color_fake_window_2);
  border-radius: 10px 10px 0 0;
}

.fake_button{
  margin: 5px 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--color_fake_window_1);
}

.fake_search{
  margin: 5px;
  width: 65%;
  height: 15px;
  border-radius: 5px;
  background-color: var(--color_fake_window_1);
}

.fake_space{
  display: flex;
  height: 80%;
  align-items: center;
  justify-content: space-around;
  background-color: var(--color_fake_window_3);
  border-radius: 0 0 10px 10px;
}

.fake_space h1{
  margin: 0;
  font-size: 2rem;
  color: var(--title_color);
}

@media (min-width: 520px) {
  .work h1{
    font-size: 1.5rem;
  }

  .fake_window{
    width: 50%;
    height: 12rem;
  }

  .fake_space h1{
    font-size: 3rem;
  }
}

@media (min-width: 720px) {
  .work{
    display: grid;
    margin: 0 1rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
  }

  .work_section1{
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .work_section1 h1{
    margin: 0;
  }

  .work_section1 p{
    margin: 2rem 0 0 0;
  }

  .work_section2{
    margin: 0 1rem;
  } 

  .canva2{
    display: block;
  }

  .work h2{
    width: 60%;
    margin: 1rem auto;
  }

  .fake_window{
    width: 80%;
  }
}

@media (min-width: 1000px) {

  .work_section1{
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .canva1{
    display: block;  
  }
  
  .work_section1 h1{
    text-align: right;
  }

  .work_section1 p{
    text-align: right;
  }

  .canva2{
    width: 50%;
    height: 150px;
    margin: 0.5rem auto;
  }

  .work_section2{
    margin-left: 1rem;
    grid-column-start: 2;
    grid-column-end: 3;
  }

  .work h2{
    width: 100%;
  }

  .fake_window{
    width: 60%;
  }
}

/* Pagina KPT */

.KPT_page{
  margin: 2rem 3rem 0 3rem;
  text-align: center;
}

.KPT_page h1{
  color: var(--title_color);
  margin-bottom: 1.5rem;
  text-align: center;
  font-size: 1.25rem;
  font-weight: bold;
}

.KPT_page h2{
  display: flex;
  align-items: center;
  justify-content: center;
}

.KPT_page h2 img{
  width: 2rem;
  height: auto;
  margin-right: 1rem;
}

.KPT_page h2 a{
  text-decoration: none;
  color: var(--color_kpt);
}

.KPT_page .kpt_pc{
  width: 60%;
  height: auto;
}

.KPT_components {
  position: relative;
}

.KPT_page .KPT_components img{
  position: relative;
  width: 12%;
  height: auto;
  margin: 0 .25rem;
}

@media (min-width: 1000px) {
  .KPT_section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
  .KPT_title{
    width: 70%;
    margin: 0 auto;
  }

  .KPT_components{
    width: 75%;
    margin: 3rem auto 0 auto;
  }
}

/* Contacto */

.contact{
  margin: 2rem 3rem 3rem 3rem;
  text-align: center;
}

.contact h2{
  color: var(--title_color);
  font-size: 1.2rem;
}

.contact_links{
  margin-top: 1.5rem;
  list-style-type: none;
}

.contact_links li {
  display: inline;
  margin: 0 0.75rem;
}

.contact_links i{
  font-size: 2rem;
}

.contact_links a{
  text-decoration: none;
  color: var(--text_color);
}

.contact_links a:hover{
  color: var(--color_background);
}

@media (min-width: 720px) {
  .contact h2{
    font-size: 1.5rem;
  }
}

@media (min-width: 1000px) {
  .contact{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin: 0 3rem;
    padding: 3rem 0;
  }

  .concact_section1{
    width: 80%;
    margin: 0 auto;
  }

  .canva3{
    display: block;
  }

}