@import url(interface.css);
@import url(spriteAnimations.css);

/* ~> content Styles */

.content{
  grid-template-rows: 1fr 5fr;
}

@media (min-width: 900px) {
  .content{
    grid-template-rows: 25% 75%;
  }
}

/* ~> Header Styles */

.header{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

@media (min-width: 1020px) {
  .header{
    width: 50%;
  }
}

.header h1{
  color:#FFFFFF;
  font-size: 1.95rem;
  font-weight: 400;
  text-align: center;
}

.header h2{
  color: #8FE0F5;
  font-size: 1.25rem;
  font-weight: 300;
  text-align: center;
  margin-top: 1rem;
}

@media (min-width: 1020px) {
  .header h1{
    font-size: 2.5rem;
  }

  .header h2{
    font-size: 1rem;
  }
}

/* ~> Section Styles */


.sections{
  max-height: 700px;
  overflow: auto;
  &::-webkit-scrollbar {
       display: none;
    }
}
/*
section{
  border:solid 2px red;
}
*/

/* ~> Section Presentation Styles */

.presentation{
  height: 95%;
  padding: 1rem 3rem 0 3rem;
  text-align: center;
  overflow: hidden;
}

.profile_image{
  width: 55%;
  height: auto;
  margin: 1rem 0;
  border: solid #d75a16 4px;
  border-radius: 50%;
}

.about_me h1{
  padding-top: 2rem;
  color: #8FE0F5;
  text-align: left;
  font-size: 2rem;
}

.about_me p{
  width: 70%;
  color: #FFFFFF;
  margin: 1rem 0;
  text-align: left;
  line-height: 1.4rem;
}

@media (min-width: 600px) {
  .profile_image{
    width: 45%;
  }

  .about_me{
    width: 70%;
    margin: 0 auto;
  }

  .about_me p{
    width: 100%;
  }

}

@media (min-width: 900px) {
  .presentation{
    display: flex;
    flex-direction: row-reverse;
    align-items:center;
    column-gap: 3rem;
    padding: 1rem 5rem 0 3rem;
  }

  .profile_image{
    width: 30%;
    /* margin: 1rem; */
  }

  .about_me{
    width: 70%;
    margin: 0;
  }

  .about_me h1{
    margin: 1rem 0;
    padding: 0;
    text-align: right;
  }

  .about_me p{
    width: 100%;
    text-align: right;
  }
}

@media (min-width: 1150px) {
  .presentation{
    padding: 1rem 6rem 0 0;
    margin: 0 auto;
  }

}

@media (min-width: 1250px) {
  .presentation{
    width: 80%;
    padding: 0;
    margin: 0 auto;
  }

  .about_me h1{
    font-size: 2.5rem;
  }

  .about_me p{
    font-size: 1.5rem;
    line-height: 1.8rem;
  }

}

/* ~> Section Work Styles */

.work{
  height: 95%;
  overflow: hidden;
  padding: 1rem 3rem 0 3rem;
  text-align: center;
}

.workCanva{
  width: 70%;
  height: 30%;
  margin: 1rem 0;
  border: solid #8FE0F5 2px;
  border-radius: 10px;
}

.work_description{
  margin-top: 3rem;
}

.work_description h1{
  width: 80%;
  color: #8FE0F5;
  text-align: left;
  font-size: 1.5rem;
  font-weight: 400;
}

.work_description p{
  width: 60%;
  color: #FFFFFF;
  margin: 1rem 0;
  text-align: left;
  line-height: 1.4rem;
}

@media (min-width: 600px) {
  .workCanva{
    width: 55%;
    margin: 0 auto;
  }

  .work_description{
    width: 70%;
    margin: 3rem auto 0 auto;
  }

  .work_description p{
    width: 100%;
  }

}


@media (min-width: 900px) {
  .work{
    display: flex;
    flex-direction: row-reverse;
    align-items:center;
    column-gap: 3rem;
  }

  .work .workCanva{
    width: 30%;
  }

  .work_description{
    width: 70%;
    margin: 0;
  }

  .work_description h1{
    margin: 1rem 0;
    padding: 0;
    text-align: left;
  }

  .work_description p{
    width: 100%;
    text-align: left;
  }
}

@media (min-width: 1150px) {
  .work{
    padding: 1rem 3rem 0 3rem;
    margin: 0 auto;
  }

}

@media (min-width: 1250px) {
  .work{
    width: 70%;
    padding: 0;
    margin: 0 auto;
  }

  .work_description h1{
    font-size: 2rem;
    line-height: 1.8rem;
  }

  .work_description p{
    font-size: 1.25rem;
    line-height: 1.8rem;
  }
}

/* ~> Section Contact Styles */

.contact{
  height: 100%;
  overflow: hidden;
  padding: 1rem 3rem 0 3rem;
  text-align: center;
}

.contact h2{
  color: #8FE0F5;
  text-align: center;
  margin-top: 2rem;
  font-size: 1.8rem;
  font-weight: 400;
}

.contact_links{
  display: flex;
  flex-direction: column;
  position: relative;
  width: 50%;
  margin: 5rem 0 0 3rem;
  list-style-type: none;
}

.contact_links li{
  position: relative;
  margin: 1rem 0;
}

.contact_links li a{  
  text-decoration: none;
  color: #FFFFFF;
}

.contact_links li a:hover{
  color: #D76F38;
}

.contact_links li a::after{
  position: absolute;
  color: #8FE0F5;
  font-size: 1rem;
  font-weight: 600;
  padding: 1.25rem 0 0 1rem
}

.contact_links li:hover .mail::after{
  content: "Contactame";
}

.contact_links li:hover .instagram::after{
  content: "/ruben.designs_";
}

.contact_links li:hover .codepen::after{
  content: "/rubenmosqueda";
}

.contact_links li:hover .github::after{
  content: "/RubenMosqueda";
}

.contact_links li:hover .twitter::after{
  content: "/RubnMosquedaB1";
}

.contact_links li a i{
  font-size: 4rem;
}



@media (min-width: 600px) {
  .contact_links{
    margin: 5rem auto 0 auto;
  }

  .contact1{
    align-self: flex-end;
  }

  .contact2{
    align-self: flex-start;
  }

  .contact3{
    align-self: flex-end;
  }

  .contact4{
    align-self: flex-start;
  }

  .contact5{
    align-self: flex-end;
  }
}

@media (min-width: 900px) {

  .contact_links{
    flex-direction: row;
    width: 65%;
    height: 30%;
    margin: 10% auto 10% auto;
  }

  .contact_links li{
  width: 25%;
  }

  .contact1{
    align-self: flex-end;
  }

  .contact2{
    margin: 0;
  }

  .contact3{
    align-self: flex-end;
  }

  .contact4{
    padding-left: 0rem;
  }

  .contact5{
    align-self: flex-end;
  }

}