/*Navbar*/
:root {
  --color_nav_text: #D5D9DA;
  --color_nav_icon: #D5D9DA;
  --color_nav_icon_active: #8FE0F5;
  --color_nav_background: #272729;
  --color_nav_shadow: #8FE0F5;
}

nav{
  position: fixed;
  right: 0;
  top:0;
  width: 1.5rem;
  padding: 1.5rem 0.75rem;
  border-radius: 10px 0 0 10px;
  box-shadow: -3px 3px 0px 3px var(--color_nav_shadow);
  background-color: var(--color_nav_background);
  z-index: 5;
}

nav ul{
  list-style-type: none;
}

nav li{
  padding: 0.75rem 0;
}

nav li i{
  font-size: 1.5rem;
  color: var(--color_nav_icon);
}

nav li:hover i{
  color: var(--color_nav_icon_active);
}

nav li a{
  text-decoration: none;
  color: var(--color_nav_text);
}

nav ul li:hover a::before{
  position: absolute;
  right: 2.7em;
  padding: 0.3rem 0 0.3rem 0.5rem;
  font-size: 1.1rem;
  border-radius: 5px 0 0 5px;
  box-shadow: -4px 4px 0px 0px var(--color_nav_shadow);
  background-color: var(--color_nav_background);
}

nav ul li:hover .home::before{
  content: "HOME";
}

nav ul li:hover .galeria::before{
  content: "GALERIA";
}

nav ul li:hover .background::before{
  content: "BACKGROUND";
}

nav ul li:hover .correo::before{
  content: "CONTACTO";
}

nav ul li .activo{
  color: var(--color_nav_icon_active);
}

