@import url(interface.css);
@import url(spriteAnimations.css);
@import url(modal.css);

/* ~> Resources Header Styles */
.header{
  max-height: 10vh;
  border: solid 2px #D76F38;
  margin: 1.5rem;
  margin-bottom: 0;
  border-radius: 10px;
  box-shadow: 
  inset 0px 0px 14px 7px rgba(215, 111, 56, 0.3),
  0px 0px 10px 7px rgba(215, 111, 56, 0.3);
  background-image: url(https://lh3.googleusercontent.com/pw/AP1GczOBvPaC0kPdDcs8av8_EPbMUbxhqlAVNrkq9I-71nctgbvOwEgfIK68aLkBNvSlVTFnaVSZop1w7ErkZNFOfIvVwJenuyMG4eJCx94YkzWHZDU3z4z6hfT4RsaTjW13tzslUkpnttpusaQIBG30UHM_=w1560-h878);
  background-repeat: no-repeat;
  background-position: 0% 55%;
  background-color: #272729;
  overflow: auto;
  &::-webkit-scrollbar {
     display: none;
  }
}

.header h1{
  color: #FFFFFF;
  font-size: 2.75rem;
  margin: 1rem auto;
  text-align: center;
}

/* ~> Resources Content Styles */

.recursosContent{
  width: 85%;
  height: 72vh;
  margin: 0 auto;
  overflow: auto;
  &::-webkit-scrollbar {
     display: none;
  }
}

/* ~> Section Title Styles */
.tab{
  width: 90%;
  font-size: 1.75rem;
  padding: 1rem;
  margin: 1rem auto;
  text-align: center;
  border-radius: 8px 8px 8px 8px;
  color: #FFFFFF;
  background-color: #272729;
  border: solid 2px #D76F38;
}

@media (min-width: 990px) {
  .tab{
    width: 50%;
  } 
}

/* ~> Section Color Palette Styles */

/* TODO: Section Color Picker */
.colorPickerSection{
  width: 95%;
  margin: 0 auto;
}

.galeriaColores{  
  display: grid;
  width: 100%;
  margin: 2rem 0;
  gap: 2rem;
  grid-template-columns: 1fr;
}

@media (min-width: 990px) {
  .galeriaColores{  
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1500px) {
  .galeriaColores{  
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.colorPalette{
  position: relative;
  margin: 0 auto;
  width: 380px;
  height: 600px;
  border-radius: 10px;
  border: solid 2px #908e92;
  box-shadow: 0px 0px 8px 2px #a8abae;
}

.colorPalette img{
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit:cover;
  border-radius: 10px;
}

.colorDiv{
  display:flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.color{
  display: flex;
  flex-direction: row;
  width: 75%;
  padding: 1rem;
  border-radius: 10px;
  justify-content: space-around;
  align-items: center;
}

.color p{
  color: white;
  font-size: 0.75rem;
}

.color h2{
  font-family: Arial;
  color: white;
  font-size: 0.85rem;
}

/* ~> Section Image Resources Galery Styles */
.galeriaImagenes {
  margin: 2rem 0 0 0;
  display: flex;
  flex-wrap: wrap;
}

.galeriaImagenes .imgContainer {
  margin: 0.5rem;
  background-color: none;
  border: none;
  height: 10vh;
  flex-grow: 1;
}

.galeriaImagenes img {
  max-height: 100%;
  min-width: 100%;
  object-fit:fill;
  vertical-align: bottom;
}