/*Variables para paleta de colores*/
:root {
  /*Paleta de colores de referencia No direccionar estas variables*/
  --color_primario: #D76F38;
  --color_secundario: #336b83;
  --color_terciario: #d3d642;
  --color_extra_1: #D5D9DA;
  --color_extra_2: #272729;
  --color_extra_3: #8FE0F5;

  /*Text Format*/
  --color_titulos: #D76F38;
  --color_texto: #ffffff;
  --image_profile_border: #D76F38;
  --color_icons_hover: #8FE0F5;

  /*Nav*/
  --color_nav_text: #D5D9DA;
  --color_nav_icon: #D5D9DA;
  --color_nav_icon_active: #8FE0F5;
  --color_nav_background: #272729;
  --color_nav_shadow: #8FE0F5;

  /*Wrapper Glassmorphism*/
  --glass_background: rgba(110, 110, 110, 0.5);
  --glass_box_shadow: 0 8px 32px 0 rgba(90, 90, 90, 0.75);
  --glass_border: 1px solid rgba(255, 255, 255, 0.5);
  --blur_index: 2px;

  --color_background: #cacacb;
  --light_background: linear-gradient(70deg, transparent 40%, #336b83 50%, transparent 70%);
  --background_image_url: url(../imagenes/texture_2.png);

    /*Barras de progreso*/
    --color_porcentajeBarra: #272729;
    --color_porcentajeProgreso: var(--color_extra_3);
    --boxShadow_porcentajeBarra: 2px 2px 5px 0px #D76F38;
    --boxShadow_porcentajeProgreso:2px 0px 1px 0px #D76F38;
    --boxShadow_habilidadesP: 0px 0px 4px 3px #D76F38;
    --background_habilidadesP: #272729;

    --p1Width: 85%;

}

body{
  font-family: Cavea, Arial, Helvetica, sans-serif;
}

.backgroundGradientLayer{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100vh;
  background-color: var(--color_background);
  overflow: hidden;
}

.backgroundGradientLayer::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 100vh;
  top: 0;
  left: 100%;
  background: var(--light_background);
  animation-name: wave-animate;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes wave-animate {
  0% {
    left: 100%;
  }
  100% {
    left: -100%;
  }
}

.textureLayer{
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100vh;
  background-image: var(--background_image_url);
  background-size: 8rem;
}

.content-wrapper {
  /* all body is set as a column with display grid property */
  display: grid;
  grid-row-gap: 0;
  grid-template-columns: auto;

  position: relative;
  z-index: 3;
  margin: 0 auto;
  max-width: 1000px;
  height: 95vh;
  
  background: var(--glass_background);
  box-shadow: var(--glass_box_shadow);
  backdrop-filter: blur( var(--blur_index) );
  -webkit-backdrop-filter: blur( var(--blur_index) );
  border: var(--glass_border);
}

/*Nav Menu*/

nav{
  position: fixed;
  right: 0;
  top:0;
  width: 1.5rem;
  padding: 1.5rem 0.75rem;
  border-radius: 10px 0 0 10px;
  box-shadow: -3px 3px 0px 3px var(--color_nav_shadow);
  background-color: var(--color_nav_background);
  z-index: 5;
}

nav ul{
  list-style-type: none;
}

nav li{
  padding: 0.75rem 0;
}

nav li i{
  font-size: 1.5rem;
  color: var(--color_nav_icon);
}

nav li:hover i{
  color: var(--color_nav_icon_active);
}

nav li a{
  text-decoration: none;
  color: var(--color_nav_text);
}

nav ul li:hover a::before{
  position: absolute;
  right: 2.7em;
  padding: 0.3rem 0 0.3rem 0.5rem;
  font-size: 1.1rem;
  border-radius: 5px 0 0 5px;
  box-shadow: -4px 4px 0px 0px var(--color_nav_shadow);
  background-color: var(--color_nav_background);
}

nav ul li:hover .home::before{
  content: "HOME";
}

nav ul li:hover .galeria::before{
  content: "GALERIA";
}

nav ul li:hover .background::before{
  content: "BACKGROUND";
}

nav ul li:hover .correo::before{
  content: "CONTACTO";
}

nav ul li .activo{
  color: var(--color_nav_icon_active);
}

.content{
  display: grid;
  grid-row-gap: 3rem;
  grid-template-columns: auto;
  z-index: 4;
  margin: 1rem 0;
}


.barra_de_porcentaje{
  width: 40%;
  height: 20px;
  margin: 30rem auto;
  background-color: var(--color_porcentajeBarra);
  border-radius: 10px;
  box-shadow: -5px -5px 5px -2px #7fc7cc inset;
}

.progreso{

  height: 18px;
  border-radius: 10px;
  border: solid 1px #a7a7a7cc;
  /* background: linear-gradient(45deg, rgba(59,215,255,1) 30%, rgba(255,255,255,1) 90%); */

  background: linear-gradient(0deg, rgb(139, 139, 139) 10%, rgba(59,215,255,1) 65%);

  box-shadow:2px 0px 2px 0px rgba(255, 255, 255, 0.75);
}


.p1{
  width: 60%;
  animation-name: load-progress_60;
  animation-duration: 0.6s;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(.7,1.11,.81,.95);
}/*HTML*/
  
@keyframes load-progress_60 {
   0% {
     width: 0%;
   }
   100% {
      width: 60%;
   }
}

.p2{
  width: 65%;
  animation-name: load-progress_65;
  animation-duration: 0.6s;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(.7,1.11,.81,.95);
}/*HTML*/
  
@keyframes load-progress_65 {
   0% {
     width: 0%;
   }
   100% {
      width: 65%;
   }
}

.p3{
  width: 70%;
  animation-name: load-progress_70;
  animation-duration: 0.6s;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(.7,1.11,.81,.95);
}/*HTML*/
  
@keyframes load-progress_70 {
   0% {
     width: 0%;
   }
   100% {
      width: 70%;
   }
}

.p4{
  width: 75%;
  animation-name: load-progress_75;
  animation-duration: 0.6s;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(.7,1.11,.81,.95);
}/*HTML*/
  
@keyframes load-progress_75 {
   0% {
     width: 0%;
   }
   100% {
      width: 75%;
   }
}

.p5{
  width: 80%;
  animation-name: load-progress_80;
  animation-duration: 0.6s;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(.7,1.11,.81,.95);
}/*HTML*/
  
@keyframes load-progress_80 {
   0% {
     width: 0%;
   }
   100% {
      width: 80%;
   }
}

.p6{
  width: 85%;
  animation-name: load-progress_85;
  animation-duration: 0.6s;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(.7,1.11,.81,.95);
}/*HTML*/
  
@keyframes load-progress_85 {
   0% {
     width: 0%;
   }
   100% {
      width: 85%;
   }
}

.p7{
  width: 90%;
  animation-name: load-progress_90;
  animation-duration: 0.6s;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(.7,1.11,.81,.95);
}/*HTML*/
  
@keyframes load-progress_90 {
   0% {
     width: 0%;
   }
   100% {
      width: 90%;
   }
}

.p8{
  width: 95%;
  animation-name: load-progress_95;
  animation-duration: 0.6s;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(.7,1.11,.81,.95);
}/*HTML*/
  
@keyframes load-progress_95 {
   0% {
     width: 0%;
   }
   100% {
      width: 95%;
   }
}

.p9{
  width: 99%;
  animation-name: load-progress_100;
  animation-duration: 0.6s;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(.7,1.11,.81,.95);
}/*HTML*/
  
@keyframes load-progress_100 {
   0% {
     width: 0%;
   }
   100% {
      width: 99%;
   }
}