/*Variables para paleta de colores*/
:root {
  /*Paleta de colores de referencia No direccionar estas variables*/
  --color_primario: #D76F38;
  --color_secundario: #336b83;
  --color_terciario: #d3d642;
  --color_extra_1: #D5D9DA;
  --color_extra_2: #272729;
  --color_extra_3: #8FE0F5;

  /*Text Format*/
  --color_titulos: #D76F38;
  --color_texto: #ffffff;
  --image_profile_border: #D76F38;
  --color_icons_hover: #8FE0F5;

  /*Nav*/
  --color_nav_text: #D5D9DA;
  --color_nav_icon: #D5D9DA;
  --color_nav_icon_active: #8FE0F5;
  --color_nav_background: #272729;
  --color_nav_shadow: #8FE0F5;

  /*Wrapper Glassmorphism*/
  --glass_background: rgba(110, 110, 110, 0.5);
  --glass_box_shadow: 0 8px 32px 0 rgba(90, 90, 90, 0.75);
  --glass_border: 1px solid rgba(255, 255, 255, 0.5);
  --blur_index: 2px;

  --color_background: #cacacb;
  --light_background: linear-gradient(70deg, transparent 40%, #336b83 50%, transparent 70%);
  --background_image_url: url(../imagenes/texture_2.png);

  /*Canva animated*/
  --canva_border: 1px solid rgba(255, 255, 255, 0.5);

  --rear_shadow1: radial-gradient(circle, rgb(255, 248, 44) 10%, transparent 60%);
  --rear_shadow2: radial-gradient(circle, rgb(255, 255, 0) 10%, transparent 60%);
  --rear_shadow3: radial-gradient(circle, rgb(255, 255, 0) 10%, transparent 60%);
  --rear_shadow4: radial-gradient(circle, #336b83 10%, transparent 60%);

  --front_shadow1: radial-gradient(circle, #FF60F48a 10%, transparent 40%);
  --front_shadow2: radial-gradient(circle, #d770388a 10%, transparent 40%);
  --front_shadow3: radial-gradient(circle, #d770388a 10%, transparent 40%);
  --front_shadow4: radial-gradient(circle, #b985698a 5%, transparent 40%);

  --animation_duration1: 10s; 
  --animation_duration2: 10s; 
  --animation_duration3: 10s; 
  --animation_duration4: 20s; 

  --canva_image_url1: url(../imagenes/texture_5.png);
  --canva_image_url2: url(../imagenes/texture_3.png);
  --canva_image_url3: url(../imagenes/texture_1.png);
  --canva_image_url4: url(../imagenes/texture_2.png);

  --canva_background_color1: #373737;
  --canva_background_color2: #373737;
  --canva_background_color3: #373737;
  --canva_background_color4: #373737;

  --canva_texture_size1: 2rem;
  --canva_texture_size2: 2rem;
  --canva_texture_size3: 2.5rem;
  --canva_texture_size4: 2.5rem;

  --canva_box_shadow1:  inset 0px -4px 10px 0 rgb(155, 155, 155);
  --canva_box_shadow2:  inset 0px -4px 10px 0 rgb(155, 155, 155);
  --canva_box_shadow3:  inset 0px -4px 10px 0 rgb(155, 155, 155);
  --canva_box_shadow4:  inset 0px -4px 10px 0 rgb(155, 155, 155);
  
  /*Misc*/
  --border_radius: 10px;
  --color_viñeta: #D76F38;
}

body{
  font-family: Cavea, Arial, Helvetica, sans-serif;
}

.backgroundGradientLayer{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100vh;
  background-color: var(--color_background);
  overflow: hidden;
}

.backgroundGradientLayer::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 100vh;
  top: 0;
  left: 100%;
  background: var(--light_background);
  animation-name: wave-animate;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes wave-animate {
  0% {
    left: 100%;
  }
  100% {
    left: -100%;
  }
}

.textureLayer{
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100vh;
  background-image: var(--background_image_url);
  background-size: 8rem;
}

.content-wrapper {
  /* all body is set as a column with display grid property */
  display: grid;
  grid-row-gap: 0;
  grid-template-columns: auto;

  position: relative;
  z-index: 3;
  margin: 0 auto;
  max-width: 1000px;
  height: 95vh;
  
  background: var(--glass_background);
  box-shadow: var(--glass_box_shadow);
  backdrop-filter: blur( var(--blur_index) );
  -webkit-backdrop-filter: blur( var(--blur_index) );
  border: var(--glass_border);
}

/*Nav Menu*/

nav{
  position: fixed;
  right: 0;
  top:0;
  width: 1.5rem;
  padding: 1.5rem 0.75rem;
  border-radius: 10px 0 0 10px;
  box-shadow: -3px 3px 0px 3px var(--color_nav_shadow);
  background-color: var(--color_nav_background);
  z-index: 5;
}

nav ul{
  list-style-type: none;
}

nav li{
  padding: 0.75rem 0;
}

nav li i{
  font-size: 1.5rem;
  color: var(--color_nav_icon);
}

nav li:hover i{
  color: var(--color_nav_icon_active);
}

nav li a{
  text-decoration: none;
  color: var(--color_nav_text);
}

nav ul li:hover a::before{
  position: absolute;
  right: 2.7em;
  padding: 0.3rem 0 0.3rem 0.5rem;
  font-size: 1.1rem;
  border-radius: 5px 0 0 5px;
  box-shadow: -4px 4px 0px 0px var(--color_nav_shadow);
  background-color: var(--color_nav_background);
}

nav ul li:hover .home::before{
  content: "HOME";
}

nav ul li:hover .galeria::before{
  content: "GALERIA";
}

nav ul li:hover .background::before{
  content: "BACKGROUND";
}

nav ul li:hover .correo::before{
  content: "CONTACTO";
}

nav ul li .activo{
  color: var(--color_nav_icon_active);
}

.content{
  display: grid;
  grid-row-gap: 3rem;
  grid-template-columns: auto;
  z-index: 4;
  margin: 1rem 0;
}

/*Footer Animacion*/

.canvaAnimated{
  position: relative;
  border: var(--canva_border);
  border-radius: var(--border_radius);
  overflow: hidden;
}

.animatedContainer{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0%;
  animation-name: moveContainer;
  /* animation-direction: alternate; */
  animation-iteration-count: infinite;
}

/* @keyframes moveContainer {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
} */

/* @keyframes moveContainer {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
} */

.rearShadow{
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 200%;
  bottom: -85%;
  left: 0%;
}

.canvaBackground{
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
}

.frontShadow{
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 200%;
  bottom: -100%;
  left: 0%;
}

.characterContainer{
  position: absolute;
  display: grid;
  z-index: 4;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
}

@keyframes caminar{
  0%{
    background-position: left;
  }
  100%{
    background-position: right;
  }
}
  
.canva4{
  width: 70%;
  height: 300px;
  margin: 15rem auto;
  background-color: var(--canva_background_color4);
}

.canva4 .animatedContainer{
  animation-duration: var(--animation_duration4);
}

.canva4 .animatedContainer .rearShadow{
  background: var(--rear_shadow4);
}

.canva4 .canvaBackground{
  box-shadow: var(--canva_box_shadow4);
  background-image: var(--canva_image_url4);
  background-size: var(--canva_texture_size4);
}

.canva4 .animatedContainer .frontShadow{
  background: var(--front_shadow4);
}

.canva4 .character{
  align-self: center;
  margin: 0 auto;
  z-index: 5;
  align-self: end;
  background-image: url("/imagenes/Sprites/SpriteCustomInvoke.png");
  background-size: 990px;
  height: 130px;
  width: 136px;
  animation-name: caminar;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(6);
}