@import url(interface.css);

.header{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

@media (min-width: 1020px) {
  .header{
    width: 50%;
  }
}

.header h1{
  color:#D5D9DA;
  font-size: 1.95rem;
  font-weight: 400;
  text-align: center;
}

.header h2{
  color: #8FE0F5;
  font-size: 1.25rem;
  font-weight: 300;
  text-align: center;
  margin-top: 1rem;
}

@media (min-width: 1020px) {
  .header h1{
    font-size: 2.5rem;
  }

  .header h2{

    font-size: 1rem;

  }
}

.sections{
  max-height: 700px;
  overflow: auto;
  &::-webkit-scrollbar {
        display: none;
    }
}











.presentation{
  height: 95%;
  padding: 1rem 3rem 0 3rem;
  text-align: center;
  overflow: hidden;
}


.profile_image{
  width: 55%;
  height: auto;
  margin: 1rem 0;
  border: solid #d75a16 4px;
  border-radius: 50%;
}

.about_me h1{
  padding-top: 2rem;
  color: #8FE0F5;
  text-align: left;
  font-size: 2rem;
}

.about_me p{
  width: 70%;
  color: #D5D9DA;
  margin: 1rem 0;
  text-align: left;
  line-height: 1.4rem;
}


@media (min-width: 600px) {
  .profile_image{
    width: 45%;
  }

  .about_me{
    width: 70%;
    margin: 0 auto;
  }

  .about_me p{
    width: 100%;
  }

}


@media (min-width: 900px) {
  .presentation{
    display: flex;
    flex-direction: row-reverse;
    align-items:center;
    column-gap: 3rem;
    padding: 1rem 5rem 0 3rem;
  }

  .profile_image{
    width: 30%;
    /* margin: 1rem; */
  }

  .about_me{
    width: 70%;
    margin: 0;
  }

  .about_me h1{
    margin: 1rem 0;
    padding: 0;
    text-align: right;
  }

  .about_me p{
    width: 100%;
    text-align: right;
  }
}

@media (min-width: 1150px) {
  .presentation{
    padding: 1rem 6rem 0 0;
    margin: 0 auto;
  }

}

@media (min-width: 1250px) {
  .presentation{
    width: 80%;
    padding: 0;
    margin: 0 auto;
  }

  .about_me h1{
    font-size: 2.5rem;
  }

  .about_me p{
    font-size: 1.5rem;
    line-height: 1.8rem;
  }

}












.work{
  height: 95%;
  overflow: hidden;
  padding: 1rem 3rem 0 3rem;
  text-align: center;
}


.work .profile_image2{
  width: 50%;
  height: auto;
  margin: 1rem 0;
  border: solid #d75a16 4px;

}

.work_section1{
  margin-top: 3rem;
}

.work_section1 h1{
  width: 80%;
  color: #8FE0F5;
  text-align: left;
  font-size: 1.5rem;
  font-weight: 400;
}

.work_section1 p{
  width: 60%;
  color: #D5D9DA;
  margin: 1rem 0;
  text-align: left;
  line-height: 1.4rem;
}


@media (min-width: 600px) {
  .profile_image2{
    width: 45%;
  }

  .work_section1{
    width: 70%;
    margin: 3rem auto 0 auto;
  }

  .work_section1 p{
    width: 100%;
  }

}


@media (min-width: 900px) {
  .work{
    display: flex;
    flex-direction: row-reverse;
    align-items:center;
    column-gap: 3rem;
  }

  .work .profile_image2{
    width: 30%;
    /* margin: 1rem; */
  }

  .work_section1{
    width: 70%;
    margin: 0;
  }

  .work_section1 h1{
    margin: 1rem 0;
    padding: 0;
    text-align: left;
  }

  .work_section1 p{
    width: 100%;
    text-align: left;
  }
}

@media (min-width: 1150px) {
  .work{
    padding: 1rem 3rem 0 3rem;
    margin: 0 auto;
  }

}

@media (min-width: 1250px) {
  .work{
    width: 70%;
    padding: 0;
    margin: 0 auto;
  }

  .work_section1 h1{
    font-size: 2rem;
    line-height: 1.8rem;
  }

  .work_section1 p{
    font-size: 1.25rem;
    line-height: 1.8rem;
  }


}



section{
  /*border:solid 2px red;*/
}





.contact{
  height: 95%;
  overflow: hidden;
  padding: 1rem 3rem 0 3rem;
  text-align: center;
}


.contact h2{
  color: #8FE0F5;
  text-align: left;
  font-size: 1.5rem;
  font-weight: 400;
}



@media (min-width: 720px) {

}

@media (min-width: 1000px) {

}