/* ~> Animation Configs */
.canvaAnimated{
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.animatedContainer{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: -100%;
  animation-name: moveContainer;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes moveContainer {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

.rearShadow{
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 200%;
  bottom: -85%;
  left: 0%;
}

.canvaBackground{
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
}

.frontShadow{
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 200%;
  bottom: -100%;
  left: 0%;
}

.characterContainer{
  position: absolute;
  display: grid;
  z-index: 4;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
}

@keyframes caminar{
  0%{
    background-position: left;
  }
  100%{
    background-position: right;
  }
}

/* ~> Work Animation Configs */

.workAnimation{
  width: 100%;
  height: 100%;
  background-color: #373737;
}

.workAnimation .animatedContainer{
  left: 0%;
  animation-iteration-count: none;
}

.workAnimation .animatedContainer .rearShadow{
  background: linear-gradient(45deg, transparent 30%, #D76F38 50%, transparent 80%);
}

.workAnimation .canvaBackground{
  box-shadow: inset 0px -4px 10px 0 rgb(155, 155, 155);
  background-image: url(../../imagenes/texture_2.png);
  background-size: 3.5rem;
}

.workAnimation .animatedContainer .frontShadow{
  background: none;
}

.workAnimation .character{
  align-self: center;
  margin: 0 auto;
  align-self: end;
  background-image: url("/imagenes/Sprites/SpriteCustomWork2.png");
  background-size: 770px;
  height: 130px;
  width: 130px;
  animation-name: caminar;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: steps(5);
}

/* ~> Footer Animation Configs */

.footerAnimation{
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: #373737;
}

.footerAnimation .animatedContainer{
  animation-duration: 30s;
}

.footerAnimation .animatedContainer .rearShadow{
  background: radial-gradient(circle, #8FE0F5 10%, transparent 25%);
}

.footerAnimation .canvaBackground{
  box-shadow: inset 0px -4px 10px 0 rgb(155, 155, 155);
  background-image: url(../../imagenes/texture_2.png);
  background-size: 2.5rem;
}

.footerAnimation .animatedContainer .frontShadow{
  background: radial-gradient(circle, #b985698a 2%, transparent 10%);
}

.footerAnimation .character{
  align-self: center;
  margin: 0 auto;
  align-self: end;
  background-image: url("/imagenes/Sprites/SpriteCustomWalk.png");
  background-size: 432px;
  height: 47px;
  width: 47px;
  animation-name: caminar;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(8);
}