

.canvaAnimated{
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.animatedContainer{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: -100%;
  animation-name: moveContainer;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes moveContainer {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

.rearShadow{
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 200%;
  bottom: -85%;
  left: 0%;
}

.canvaBackground{
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
}

.frontShadow{
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 200%;
  bottom: -100%;
  left: 0%;
}

.characterContainer{
  position: absolute;
  display: grid;
  z-index: 4;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
}

@keyframes caminar{
  0%{
    background-position: left;
  }
  100%{
    background-position: right;
  }
}

.canva4{
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: #373737;
}

.canva4 .animatedContainer{
  animation-duration: 10s;
}

.canva4 .animatedContainer .rearShadow{
  background: radial-gradient(circle, #8FE0F5 10%, transparent 25%);
}

.canva4 .canvaBackground{
  box-shadow: inset 0px -4px 10px 0 rgb(155, 155, 155);
  background-image: url(../../imagenes/texture_2.png);
  background-size: 2.5rem;
}

.canva4 .animatedContainer .frontShadow{
  background: radial-gradient(circle, #b985698a 2%, transparent 10%);
}

.canva4 .character{
  align-self: center;
  margin: 0 auto;
  align-self: end;
  background-image: url("/imagenes/Sprites/SpriteCustomWalk.png");
  background-size: 288px;
  height: 31px;
  width: 31px;
  animation-name: caminar;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(8);
}